@model List<Shoy.MvcTest.Models.Product>
<h2>title</h2>
<div>
    @foreach (var item in Model)
    {
        @item.Id<br/>
        @item.Title[0]<br/>
        @item.Name<br/> 
        @item.Num<br/>
        @item.CreateOn<br/>
        @item.PriceShop
    }
    @using (Html.BeginForm("SolrAdd", "Home", FormMethod.Post))
    {
        <input type="submit" value="Do It!"/>
    }
</div>
