@model Shoy.Wiki.Models.Dtos.WikiDto
@{
    ViewBag.Title = Model.Name;
}
<div class="container">
    <div class="page-header">
        <h3>
            @Model.Name
            <small>
                @Model.Group.Name
                <span class="text-danger">热度：@Model.Hots</span>
            </small>
        </h3>
        <div class="wiki-back">
            <a class="btn btn-link btn-lg" href="/">返回</a>
        </div>
    </div>
    <div>
        <blockquote>
            @Model.Desc
        </blockquote>
    </div>
    <div>
        @if (Model.Details != null)
        {
            foreach (var detail in Model.Details)
            {
                <div>
                    <h3>@detail.Sort @detail.Title</h3>
                    <div>
                        @detail.Detail
                    </div>
                </div>
            }
        }
    </div>
</div>
@section css{
    <style>
        .page-header {
            position: relative
        }
        .wiki-back {
            position: absolute;
            right: 15px;
            top: 0;
        }
         h3 small {
             margin-left: 15px;
         }
         h3 span {
             margin-left: 15px;
         }
        blockquote {
            font-size: 15px;
            color: #787878;
        }
    </style>
}
